# Developer branding shown in the app shell's support panel.
# Filename of the logo image, expected to be in the public/ directory.
DEVELOPER_LOGO_FILENAME=northlight-logo.svg
DEVELOPER_NAME="Northlight Apps"
SUPPORT_EMAIL=support@northlightapps.dev
SUPPORT_URL=https://northlightapps.dev/support
SUPPORT_PHONE="+1 (555) 010-0142"
